[Container]
ContainerName=dsite
Image={{ lookup('ansible.builtin.env','IMAGE_NAME', default='registry.gitlab.com/orangefox/infrastructure/dsite') }}:{{ lookup('ansible.builtin.env','IMAGE_TAG', default='master') }}
PublishPort=8085:5001
PodmanArgs=--memory=512M
HealthCmd=wget -qO- http://dsite:5001 | grep -q "OrangeFox" || exit 1
HealthOnFailure=restart
HealthInterval=5s
HealthRetries=3
HealthStartPeriod=20s

[Service]
Restart=always

[Install]
WantedBy=default.target network-online.target
